body{
    height: 100vh;
    background-color: #0a4b78;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container{
    width: 25em;
    height: 38em;
    position: relative;
    background: linear-gradient(to top, #01263a 0%, #4f94d4 70%, #c5d9ed 100%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    border-radius: 2em;
}
.title{
    text-align: center;
    display: block;
}
.form{
    margin-top: 3em;
    margin-left: 3em;
}
input[type=text]{
    width: 20em;
    padding: .7em;
    border-radius: .5em;
    border: none;
    outline: none;
}
#button{
    margin-top: 0.9em;
    width: 10em;
    background-color: #2967af;
    color: #080710;
    padding: .5em 0;
    font-size: 1em;
    font-weight: 600;
    border-radius: .5em;
    border: .1em solid rgb(122, 122, 139);
    cursor: pointer;
}

.error{
    color: red;
    text-align: left;
    margin: 0px;
}

